[submodule "bash/bin/z"]
	path = bash/bin/z
	url = https://github.com/rupa/z
[submodule "tmux/plugins/powerline"]
	path = tmux/plugins/powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule "zsh/custom.symlink/plugins/zsh-syntax-highlighting"]
	path = zsh/custom/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
